{% extends "base_list.html" %}

{% block subcontent %}
    <h2>Nome</h2>
    <table>
        <thead>
            <th>Nome</th>
            <th>Endereço</th>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td><a href="{% url 'cliente_detail' pk=object.id %}">{{ object.nome }}</a></td>
                    <td>{{ object.endereco }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul>
    </ul>
    | <a href="{% url 'home' %}">Página Inicial</a> | &nbsp &nbsp &nbsp &nbsp
    | <a href="{% url 'cliente_create' %}">Adicionar cliente</a> |
{% endblock %}