{% extends "base_list.html" %}

{% block subcontent %}
    <h2>Filmes</h2>
    <table>
        <thead>
            <th>Nome</th>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td><a href="{% url 'diretor_detail' pk=object.id %}">{{ object.nome }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul>
    </ul>
    | <a href="{% url 'filme_list' %}">Voltar</a> |
    <a href="{% url 'home' %}">Página Inicial</a> |
    <a href="{% url 'diretor_create' %}">Adicionar diretor</a> |
{% endblock %}