{% extends "base_detail.html" %}

{% block subcontent %}
    <h2>{{object.titulo}}</h2>

    <table>
        <thead>
            <th>Data de Lançamento: </th>
            <th>Gênero: </th>
        </thead>
        <tbody>
                <tr>
                    <td>{{object.data_de_lancamento}} &nbsp &nbsp &nbsp &nbsp</td>
                    <td>{{object.get_generos}}</td>
                </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <th>Sinopse:</th>
        </thead>
        <tbody>
            <td>{{object.sinopse}}</td>
        </tbody>
    </table>

    <table>
        <thead>
            <th>Direção: </th>
            <th>Roteiro: </th>
            <th>Cópias Disponíveis</th>
        </thead>
        <tbody>
                <tr>
                    <td>{% for diretor in object.get_diretores_instances %}
                        <a href="{% url 'diretor_detail' pk=diretor.id %}">
                            {{ diretor.nome }}{% if forloop.last %}{% else %},{% endif %}
                        </a>
                    {% endfor %} &nbsp &nbsp &nbsp &nbsp</td>
                    <td>{% for roteirista in object.get_roteiristas_instances %}
                        <a href="{% url 'roteirista_detail' pk=roteirista.id %}">
                            {{ roteirista.nome }}{% if forloop.last %}{% else %},{% endif %}
                        </a>
                    {% endfor %} &nbsp &nbsp &nbsp &nbsp</td>
                    <td>{{object.qtd_copias}}</td>
                </tr>
        </tbody>
    </table>
    <ul>
    </ul>
    | <a href="{% url 'filme_list' %}">Voltar</a> | &nbsp &nbsp &nbsp &nbsp
    | <a href="{% url 'home' %}">Página Inicial</a> | &nbsp &nbsp &nbsp &nbsp
    | <a href="{% url 'filme_update' pk=filme.id %}">Atualizar filme</a> | &nbsp &nbsp &nbsp &nbsp
    | <a href="{% url 'filme_delete' pk=filme.id %}">Deletar filme</a> |
{% endblock %}