{% extends "base_detail.html" %}

{% block subcontent %}
    <h2>{{object.titulo}}</h2>

    <table>
        <thead>
            <th>Data de Lançamento: </th>
            <th>Gênero: </th>
        </thead>
        <tbody>
                <tr>
                    <td>{{object.data_de_lancamento}} &nbsp &nbsp &nbsp &nbsp</td>
                    <td>{{object.get_generos}}</td>
                </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <th>Sinopse:</th>
        </thead>
        <tbody>
            <td>{{object.sinopse}}</td>
        </tbody>
    </table>

    <table>
        <thead>
            <th>Direção: </th>
            <th>Roteiro: </th>
            <th>Cópias Disponíveis</th>
        </thead>
        <tbody>
                <tr>
                    <td>{{object.get_diretores}} &nbsp &nbsp &nbsp &nbsp</td>
                    <td>{{object.get_roteiristas}} &nbsp &nbsp &nbsp &nbsp</td>
                    <td>{{object.qtd_copias}}</td>
                </tr>
        </tbody>
    </table>
    <ul>
    </ul>
    | <a href="{% url 'filme_list' %}">Voltar</a> |
    <a href="{% url 'home' %}">Página Inicial</a> |
    <a href="{% url 'filme_update' pk=filme.id %}">Atualizar filme</a> |
    <a href="{% url 'filme_delete' pk=filme.id %}">Deletar filme</a> |
{% endblock %}