{% extends "base_detail.html" %}

{% block subcontent %}
    <h2>Dados do Funcionário</h2>
    <table>
        <thead>
            <th>Username: </th>
            <th>E-mail: </th>
            <th>Nome: </th>
            <th>Status: </th>
        </thead>
        <tbody>
                <tr>
                    <td>{{object.username}} &nbsp &nbsp &nbsp &nbsp</td>
                    <td>{{object.email}} &nbsp &nbsp &nbsp &nbsp</td>
                    <td>{{object.first_name}} {{object.last_name}} &nbsp &nbsp &nbsp &nbsp</td>
                    <td>{% if object.is_active %}ativo{% else %}inativo{% endif %}</td>
                </tr>
        </tbody>
    </table>
    <ul>
    </ul>
    | <a href="{% url 'funcionario_list' %}">Voltar</a> | &nbsp &nbsp &nbsp &nbsp
    | <a href="{% url 'home' %}">Página Inicial</a> | &nbsp &nbsp &nbsp &nbsp
    | <a href="{% url 'funcionario_update' pk=object.id %}">Atualizar funcionário</a> | &nbsp &nbsp &nbsp &nbsp
    | <a href="{% url 'funcionario_delete' pk=object.id %}">Deletar funcionario</a> |
{% endblock %}