{% extends "base_list.html" %}

{% block subcontent %}
    <h2>Gêneros</h2>
    <table>
        <thead>
            <th>Estilos</th>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td><a href="{% url 'genero_detail' pk=object.estilo %}">{{ object.estilo }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul>
    </ul>
    | <a href="{% url 'filme_list' %}">Voltar</a> |
    <a href="{% url 'home' %}">Página Inicial</a> |
    <a href="{% url 'genero_create' %}">Adicionar gênero</a> |
{% endblock %}