{% extends "base_detail.html" %}

{% block subcontent %}
    <h2>Filmes de {{object.estilo}}</h2>
    <table>
        <thead>
            <th></th>
        </thead>
        <tbody>
            {% for filme in object.filme_set.all %}
                <p>{{filme}}</p>
            {% endfor %}
                <tr>
                    <td></td>
                </tr>
        </tbody>
    </table>
    <ul>
    </ul>
    | <a href="{% url 'genero_list' %}">Voltar</a> | &nbsp &nbsp &nbsp &nbsp
    | <a href="{% url 'home' %}">Página Inicial</a> | &nbsp &nbsp &nbsp &nbsp
    | <a href="{% url 'genero_update' pk=genero.estilo %}">Atualizar gênero</a> | &nbsp &nbsp &nbsp &nbsp
    | <a href="{% url 'genero_delete' pk=genero.estilo %}">Deletar gênero</a> |
{% endblock %}