{% extends "base_detail.html" %}

{% block subcontent %}
    <h2>Filmes escritos por {{object.nome}}</h2>
    <table>
        <thead>
            <th></th>
        </thead>
        <tbody>
            {% for filme in object.filme_set.all %}{{filme}}{% endfor %}
                <tr>
                    <td></td>
                </tr>
        </tbody>
    </table>
    <ul>
    </ul>
    | <a href="{% url 'roteirista_list' %}">Voltar</a> |
    <a href="{% url 'home' %}">Página Inicial</a> |
    <a href="{% url 'roteirista_update' pk=roteirista.id %}">Atualizar roteirista</a> |
    <a href="{% url 'roteirista_delete' pk=roteirista.id %}">Deletar roteirista</a> |
{% endblock %}