{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'core/css/form.css' %}">{% endblock %}

{% block title %}
    {% if object %}
        Alterar {{model}}
    {% else %}
        Criar {{model}}
    {% endif %}
{% endblock %}

{% block content %}
<div class="my-4 p-4 container bg-white">
    {% if object %}
        <h1>Alterar {{model}}</h1>
    {% else %}
        <h1>Criar {{model}}</h1>
    {% endif %}
    <form  method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Submeter" %}
    </form>
</div>
{% endblock %}